.header{
    padding: 2rem 0;
}

@media (min-width: 1024px){
    .header{
        padding: 5rem 0;
    }
}

.header__logo{
    width: 30rem;
    margin-bottom: 3rem;
}
@media (min-width: 768px){
    .header__logo{
        margin-bottom: 0;
    }
}

.header__grid{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
@media (min-width: 1024px){
    .header__grid{
        align-items: center;
    }
}

#check{
    display: none;
}

.menu__hamburguesa{
    margin-top: 3rem;
}
@media (min-width: 1024px){
    .menu__hamburguesa{
        display: none;
    }
}

.navegacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
@media (min-width: 1024px){
    .navegacion{
        flex-direction: row;

    }
}

.navegacion__items{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
@media (min-width: 1024px){
    .navegacion__items{
        flex-direction: row;
    }
}

@media (max-width: 1024px){
    .navegacion__items{
        position: absolute;
        width: 100%;
        background-color: var(--color-white);
        top: 15rem;
        left: -100%;
        transition: all .3s;
        z-index: 10;
        padding: 3rem 0;
    }
}

#check:checked ~ .navegacion__items{
    left: 0;
}

.navegacion__link{
    font-size: 2.4rem;
}

.navegacion__link:hover{
    color: var(--color-primario);
}

@media (min-width: 768px){
    .bloques__grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        grid-auto-flow: dense;
    }
}

.bloque{
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bloque:nth-child(1){
    background-color: var(--color-primario);
}
.bloque:nth-child(2){
    background-image: url(../img/bloque_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.bloque:nth-child(3){
    background-color: var(--color-secundario);
}
@media (min-width: 768px){
    .bloque:nth-child(3){
        grid-column: 2 / 3;
    }
}
.bloque:nth-child(4){
    background-image: url(../img/bloque_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bloque__contenido{
    max-width: 40rem;
    border-block: 1px solid var(--color-white);
    padding: 1rem 0;
}

.bloque__texto{
    color: var(--color-white);
}

.bloque__heading{
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--color-white);
}

.bloque__heading::after{
    display: none;
}


/**/

.nosotros__grid{
    display: grid;
    gap: 5rem;
}
@media (min-width: 768px){
    .nosotros__grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

.nosotros__bloque{
    text-align: center;
}
.nosotros__imagen{
    margin: 0 auto;
}

.clases{
    background-color: var(--color-gris);
    padding: 5rem 0;
}

.clases__grid{
    display: grid;
    gap: 2rem;
}
@media (min-width: 768px){
    .clases__grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1024px){
    .clases__grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

.clase{
    border: 1px solid #d6d6d6;
    background-color: var(--color-white);
}

.clase__imagen{
    width: 100%;
}

.clase__meta{
    background-color: var(--color-primario);
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    color: var(--color-white);
    align-items: center;
}

.clase__precio{
    background-color: var(--color-secundario);
    color: var(--color-black);
    padding: .5rem;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 1rem;
}

.clase__contenido{
    padding: 1rem;
}

.clase__descripcion{
    color: var(--color-primario);
}

.clase__enlace{
    background-color: var(--color-primario);
    color: var(--color-white);
    border-radius: 0;
    display: block;
    padding: 1rem;
    font-size: 2rem;
}

.clase__nombre{
    min-height: 6rem;
}

/* Escuela */
.escuela{
    background-image: url(../img/chef_bg.jpg);
    padding: 20rem 0;
    text-align: center;
    color: var(--color-white);
}
.escuela__heading::after{
    display: none;
}
.escuela__texto{
    font-size: 2.6rem;
    max-width: 40rem;
    margin: 0 auto 3rem auto;
}

.escuela__enlace{
    background-color: var(--color-primario);
    color: var(--color-white);
}

/*Footer*/
.footer{
    padding: 3rem 0;
    border-bottom: .5rem solid var(--color-primario);
}

.footer__grid{
    text-align: center;
}
@media (min-width: 768px){
    .footer__grid{
        display: flex;
        justify-content: space-between;
    }
}

.footer__copyright{
    font-size: 2rem;
    margin-top: 3rem;
}
@media (min-width: 768px){
    .footer__copyright{
        margin: 0;
    }
}